* {
    background-color: rgb(242, 162, 169);
}

.title {
    background: #e3f4ff;
    border: -10px;
    font-size: 45px;
    margin-bottom: -10px;
    text-align: center;
}

.p1 {
    background: #e3f4ff;
    margin-top: 10px;
    margin-bottom: -10px;
    text-align: center;
}

.p3 {
    background: #e3f4ff;
    margin-top: 10px;
    text-align: center;
}

.photo-pasta {
    
}
