* {
    background-color: rgb(242, 162, 169);
    width: auto;
    font-family: Arial, Helvetica, sans-serif;
}

.first {
    background: #e3f4ff;
}

.title {
    background: #e3f4ff;
    border: -10px;
    font-size: 45px;
    margin-bottom: -10px;
    text-align: center;
    border: 3px;
}

.p1 {
    background: #e3f4ff;
    margin-top: 10px;
    margin-bottom: -10px;
    text-align: center;
}

.p3 {
    background: #e3f4ff;
    margin-top: 10px;
    text-align: center;
}

.photo-pasta .photo-chili .photo-steak {
    border-color: black;
    border-radius: 12px;
}
}
.para1 {
    text-align: center;
    
}

.para2 {
    text-align: center;
}

.links {
    text-align: center;
}

div {
    text-align: center;
}